.info-services {
  padding: 0 70px 0px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h3 {
    font-size: 38px;
    line-height: 1.24;
  }
  .koko1 {
    padding-left: 50px;
  }
  .img-holder {
    background-image: url("../img/bankView.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    height: 500px;
  }
  .spider {
    flex: 1;
  }
}
.services {
  padding-bottom: 110px;
}
@media only screen and (max-width: $mdDevices) {
  .info-services {
    display: none;
  }
  .services {
    padding-bottom: 50px;
  }
}
